'use strict';

// Angular Application Name (ng-app)
angular.module('app', ['ngResource','ngRoute', 'app.loading', 'restangular'])
	.config(function(RestangularProvider) {
		// RestangularProvider.setBaseUrl('http://localhost:3000');
		RestangularProvider.setRequestSuffix('.json');
	});


angular.module('app').config(['$locationProvider', '$routeProvider',
	function($locationProvider, $routeProvider) {
		$locationProvider.html5Mode(true);
		$routeProvider
			.when('/', {  
				template: '<div id="dynamic-views"></div>',
				controller: 'PagesController'
			})		
			.when('/:uri*', {  
				template: '<div id="dynamic-views"></div>',
				controller: 'PagesController'
			});		
	}
]);

// Dynamic Pages
function PagesController($scope, $http, $route, $routeParams, $compile) {
  // TODO: redirect when route not exist.
  var ROOT_PATH = 'meus-forums';
  if (_.isUndefined($routeParams.uri)) {
  	$routeParams.uri = ROOT_PATH;
  }

  //begin: match route params
	var draws = []
	for(var d in Routes) {
	    if(d.toString().indexOf('draw')>=0) {
	        draws.push(Routes[d.toString()]());
	    }    
	}
	$routeParams = _.extend($routeParams, Utils.getUriParams($routeParams.uri, draws));
  //end: match route params

  $route.current.templateUrl = Routes.base_uri + $routeParams.uri + ".view";

	$http({method: 'GET', url: $route.current.templateUrl}).
	  success(function(response, status, headers, config) {
	    $('#dynamic-views').html($compile(response)($scope));
	  }).
	  error(function(response, status, headers, config) {
	    $('#dynamic-views').html(status + '<br>' + response);
	  });

}
PagesController.$inject = ['$scope', '$http', '$route', '$routeParams', '$compile'];