'use strict';

// Angular Application Name (ng-app)
angular.module('app', ['ngResource','ngRoute', 'app.loading', 'restangular'])
	.config(function(RestangularProvider) {
		// RestangularProvider.setBaseUrl('http://localhost:3000');
		RestangularProvider.setRequestSuffix('.json');
	});


angular.module('app').config(['$locationProvider', '$routeProvider',
	function($locationProvider, $routeProvider) {
		$locationProvider.html5Mode(true);
		$routeProvider
			.when('/', {  
				template: '<div id="dynamic-views"></div>',
				controller: 'PagesController'
			})		
			.when('/:uri*', {  
				template: '<div id="dynamic-views"></div>',
				controller: 'PagesController'
			});		
	}
]);

// Dynamic Pages
function PagesController($scope, $http, $route, $routeParams, $compile) {

  if (_.isUndefined($routeParams.uri)) {
  	$routeParams.uri = Routes.root_path();
  }

	$routeParams = _.extend($routeParams, Utils.getUriParams($routeParams.uri, Routes.getDraws()));

	console.log($routeParams);

  $route.current.templateUrl = Routes.base_uri + $routeParams.uri + ".view";

	$http({method: 'GET', url: $route.current.templateUrl}).
	  success(function(response, status, headers, config) {
	    $('#dynamic-views').html($compile(response)($scope));
	  }).
	  error(function(response, status, headers, config) {
	    $('#dynamic-views').html(status + '<br>' + response);
	  });

}
PagesController.$inject = ['$scope', '$http', '$route', '$routeParams', '$compile'];